version: "3.9"
services:
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - ./storage/redis/data:/data
  web:
    build: .
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    volumes:
      - .:/www/app
    ports:
      - "3000:3000"
    links:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
